@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
}
body header {
  width: 100%;
  background-color: #e91e63;
  padding: 10px 0;
  height: 80px;
}
body header nav {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
}
body header nav div {
  margin: -20px;
}
body header nav div a img {
  margin-top: 10px;
  width: 300px;
  height: auto;
  overflow: hidden;
}
body header nav label {
  display: none;
  width: 40px;
  height: 40px;
  color: #fff;
}
body header nav input {
  display: none;
}
body header nav ul {
  margin-right: 20px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
}
body header nav ul li {
  height: 100px;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  font-size: 20px;
}
body header nav ul li a {
  color: #fff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
body header nav ul li :after {
  content: "";
  display: block;
  background-color: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
body header nav ul li :hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 99%) ;
}
body main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
body main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
body main section section {
  display: flex;
  flex-direction: column;
}
body main section section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
body main section section div {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
body main section section div a img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}
body main section section div button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
body main section section div button a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
body main section section div button:hover {
  background-color: #c2185b;
}
body main section section div:hover {
  transform: translateY(-5px);
}
body .hombre, body .mujeres, body .niños {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
body .hombre h2, body .mujeres h2, body .niños h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
body .hombre div, body .mujeres div, body .niños div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
body .hombre div div, body .mujeres div div, body .niños div div {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
body .hombre div div img, body .mujeres div div img, body .niños div div img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}
body .hombre div div h3, body .mujeres div div h3, body .niños div div h3 {
  font-size: 18px;
  color: #333;
}
body .hombre div div p, body .mujeres div div p, body .niños div div p {
  color: #777;
}
body .hombre div div button, body .mujeres div div button, body .niños div div button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
body .hombre div div button a, body .mujeres div div button a, body .niños div div button a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
body .hombre div div button:hover, body .mujeres div div button:hover, body .niños div div button:hover {
  background-color: #c2185b;
}
body .hombre div div:hover, body .mujeres div div:hover, body .niños div div:hover {
  transform: translateY(-5px);
}
body .nosotros {
  width: 100%;
  height: 100vh;
}
body .nosotros div h1 {
  font-size: 60px;
  padding: 1.25rem;
}
body .nosotros div div p{
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 30px;
}
body .contacto {
  max-width: 970px
}
body .contacto section {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: start;
  display: flex;
  flex-direction: column;
}
body .contacto section div form label {
  width: 100%;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
body .contacto section div form input, body .contacto section div form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body .contacto section div form button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
body .contacto section div form button a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
body .contacto section div form button:hover {
  background-color: #c2185b;
}
body .contacto section iframe {
  border: 1px solid black;
  width: 100%;
}
body footer {
  margin-top: 30px;
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body footer .seccion-footer1, body footer .seccion-footer3 {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
body footer .seccion-footer3 {
  justify-content: center;
}
body footer .seccion-footer2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  main {
    width: 100%;
  }
  .hombre, .mujeres, .niños {
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  body header {
    padding: 10px;
    height: auto;
  }
  body header nav div a img {
    width: 200px;
  }
  body header nav label {
    display: block;
    cursor: crosshair;
  }
  body header nav ul {
    position: fixed;
    top: 80px;
    background-color: rgba(83, 82, 82, 0.699);
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: -webkit-clip-path 0.2s;
    transition: clip-path 0.2s;
    transition: clip-path 0.2s, -webkit-clip-path 0.2s;
  }
  body header nav input:checked + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 10px 0;
    height: auto;
    font-size: 16px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  body main {
    width: auto;
  }
  body main section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  body main section section h2 {
    font-size: 18px;
  }
  body main section section div a img {
    width: 100%;
  }
  body .hombre h2, body .mujeres h2, body .niños h2 {
    font-size: 20px;
  }
  body .hombre div, body .mujeres div, body .niños div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  body .hombre div div, body .mujeres div div, body .niños div div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  body .hombre div div img, body .mujeres div div img, body .niños div div img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  body footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  body footer .seccion-footer1, body footer .seccion-footer3 {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body footer .seccion-footer2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  body header {
    padding: 10px;
    height: auto;
  }
  body header nav div a img {
    width: 200px;
  }
  body main {
    width: auto;
  }
  body main section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  body main section section div a img {
    width: 100%;
  }
  body .hombre div, body .mujeres div, body .niños div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  body .hombre div div img, body .mujeres div div img, body .niños div div img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  body footer .seccion-footer1, body footer .seccion-footer2, body footer .seccion-footer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 375px) {
  body header nav div a img {
    width: 180px;
  }
  body main {
    width: auto;
  }
  body main section section div a img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */