/* Estilos generales */
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}
/* Estilos de la barra de navegación */
header{
    width: 100%;
    background-color: #e91e63;
    padding: 10px 0;
    height: 80px;
}
nav{
    display: flex;
    height: 100%;
    width: 100%;
    margin:0 auto;
    justify-content: space-between;
    align-items: end;
}
.logo{
    margin: -20px;
}
.logo img{
    margin-top: 10px;
    width: 300px;
    height: auto;
    overflow: hidden;
}
.nav_label{
    display: none;
    width: 40px;
    height: 40px;
    color: #fff;
}
.nav_input{
    display: none;
}
.nav_menu{
    margin-right: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}
.nav_menu li {
    height: 100px;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    font-size: 20px;
}
.nav_menu li a{
    color:#fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav_menu li a:after{
    content: "";
    display: block;
    background-color: #fff;
    width:90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav_menu li a:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 99%)
}
.container {
    max-width: 960px;
    margin:  0 auto;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}    
.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.product-card:hover {
    transform: translateY(-5px);
    }

.product-card img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    color: #333;
}

.product-card p {
    color: #777;
}

.product-card button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.product-card button a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.product-card button:hover {
    background-color: #c2185b;
}
/* Estilos para la sección de contacto */

.contact-form {
    padding: 50px 0;
    text-align: center;
}

.contact-form label {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact form {
    width: 100%;
    margin: 0 auto;
}

.contact-form input , .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #c2185b;
}
/* Estilos del footer */
footer {
    height: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.seccion-footer1{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items:end;
}
.seccion-footer2{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion-footer3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seccion-footer3 p {
margin-top: 10px;
}
iframe {
    border: 1px solid black;
    width: 100%;
}
@media(max-width: 768px) {

    body {
        padding: 10px;
    }
    
    header {
        padding: 10px;
        height: auto;
    }
    
    .nav_label{
        display: block;
        cursor: crosshair;
    }
    .nav_menu{
        position: fixed;
        top: 80px;
        background-color: rgba(83, 82, 82, 0.699);
        bottom: 0;
        width: 100%;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .2s;
    }
    .nav_input:checked + .nav_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 10px 0;
        height: auto;
        font-size: 16px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .logo img {
        width: 200px;
    }
    
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    
    .product-card img {
        width: 100%;
    }
    
    /* Estilos de la sección de contacto */
    .contact-form label {
        font-size: 20px;
    }
    
    .contact-form input,
    .contact-form textarea {
        font-size: 16px;
    }
    
    /* Estilos del footer */
    footer {
        flex-direction: column;
        align-items: center;
    }
    
    .seccion-footer1 {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .seccion-footer2 {
        width: 100%;
        align-items: center;
    }
    
    .seccion-footer3 {
        flex-direction: column;
    }
}
@media(max-width: 425px) {
    body {
        font-size: 14px;
    }

    header {
        height: auto;
        padding: 20px 0;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .logo img {
        width: 200px;
    }

    .nav_label {
        display: block;
    }
    .nav_menu{
        top: 116px;
    }
    .nav_menu li {
        height: auto;
        font-size: 16px;
    }
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-card img {
        width: 100%;
    }

    .seccion-footer1,
    .seccion-footer2,
    .seccion-footer3 {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
    }
}
@media(max-width: 375px) {
    body {
        font-size: 12px;
    }

    header {
        padding: 15px 0;
    }

    .logo img {
        width: 180px;
    }

    .nav_menu {
        gap: 0.5em;
        top: 100px;
    }

    .nav_menu li {
        font-size: 14px;
    }

    .product-card img {
        width: 100%;
        margin-bottom: 5px;
    }

    .section-title {
        font-size: 20px;
    }

    .contact-form label {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 8px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .contact-form button {
        padding: 8px 15px;
        font-size: 12px;
    }

    .seccion-footer1,
    .seccion-footer2,
    .seccion-footer3 {
        flex-direction: column;
        align-items: center;
    }

    .seccion-footer3 p {
        margin-top: 5px;
    }
}