*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f5f5f5;
    /* Estilos de la barra de navegaci칩n */
    header{
        width: 100%;
        background-color: #e91e63;
        padding: 10px 0;
        height: 80px;
        nav{
            display: flex;
            height: 100%;
            width: 100%;
            margin:0 auto;
            justify-content: space-between;
            align-items: end;
            div{
                margin: -20px;
                a{
                    img{
                        margin-top: 10px;
                        width: 300px;
                        height: auto;
                        overflow: hidden;
                    }
                }
            }
            label{
                display: none;
                width: 40px;
                height: 40px;
                color: #fff;
            }
            input{
                display: none;
            }
            ul{
                margin-right: 20px;
                height: 100px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3em;
                li{
                    height: 100px;
                    list-style: none;
                    display: grid;
                    grid-auto-flow: column;
                    align-items: end;
                    font-size: 20px;
                    a{
                        color:#fff;
                        text-decoration: none;
                        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                    }
                    :after{
                        content: "";
                        display: block;
                        background-color: #fff;
                        width:90%;
                        margin-top: 3px;
                        height: 3px;
                        clip-path: var(--clippy);
                        transition: clip-path .5s;
                    }
                    :hover{
                        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 99%)
                    }
                }
            }
        }
    }
    main{
        max-width: 960px;
        margin:  0 auto;
        padding: 20px;
        section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            section{
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 24px;
                    color: #333;
                    margin-bottom: 10px;
                }
                div{
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    transition: transform 0.3s ease;
                    a{
                        img{
                            width: 300px;
                            height: auto;
                            margin-bottom: 10px;
                        }
                    }
                    button{
                        background-color: #e91e63;
                        color: #fff;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 3px;
                        cursor: pointer;
                        a{
                            font-size: 14px;
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    button:hover{
                        background-color: #c2185b;
                    }
                }
                div:hover{
                    transform: translateY(-5px);
                }
            }
        }
    }
    footer{
        height: auto;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
        .seccion-footer1, .seccion-footer3{
            width: 15%;
            display: flex;
            justify-content: space-between;
            align-items:end;
        }
        .seccion-footer2{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.hombre , .mujeres , .ni침os{
    max-width: 960px;
    margin:  0 auto;
    padding: 20px;
    h2{
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }
    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        div{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease;
            img{
                width: 300px;
                height: auto;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 18px;
                color: #333;
            }
            
            p {
                color: #777;
            }
            button{
                background-color: #e91e63;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 3px;
                cursor: pointer;
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: #fff;
                }
            }
            button:hover{
                background-color: #c2185b;
            }
        }
        div:hover{
            transform: translateY(-5px);
        }
    }
}
.contacto{
    width: 100%;
    section{
        width: 100%;
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;
        div{
            form{
                label{
                    width: 100%;
                    color: #333;
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                input,textarea{
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
                button{
                    background-color: #e91e63;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    font-size: 14px;
                    border-radius: 3px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #c2185b;
                }
            }
        }
    }
    section{
        iframe {
            border: 1px solid black;
            width: 100%;
        }
    }
}
@media(max-width:768px){
    body {
        padding: 10px;
        header{
            padding: 10px;
            height: auto;
            nav{
                div{
                    a{
                        img {
                            width: 200px;
                        }
                    }
                }
                label{
                    display: block;
                    cursor: crosshair;
                }
                ul{
                    position: fixed;
                    top: 80px;
                    background-color: rgba(83, 82, 82, 0.699);
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    transition: clip-path .2s;
                    }
                input:checked + ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;
                    padding: 10px 0;
                    height: auto;
                    font-size: 16px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
        main{
            width: auto;
            section{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                section{
                    h2{
                        font-size: 18px;
                    }
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .ni침os{
            h2{
                font-size: 20px;
            }
            div{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                div{
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    transition: transform 0.3s ease;
                    img{
                        width: 300px;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:center;
            .seccion-footer1, .seccion-footer3{
                width: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .seccion-footer2{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media(max-width:425px){
    body {
        font-size: 14px;
        padding: 10px;
        header{
            padding: 10px;
            height: auto;
            nav{
                div{
                    a{
                        img {
                            width: 200px;
                        }
                    }
                }

            }
        }
        main{
            width: auto;
            section{
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;
                section{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .ni침os{
            div{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;
                div{
                    img{
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        footer{
            .seccion-footer1, .seccion-footer2, .seccion-footer3{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
@media(max-width:375px){
    body {
        header{
            nav{
                div{
                    a{
                        img {
                            width: 180px;
                        }
                    }
                }
            }
        }
        main{
            width: auto;
            section{
                section{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}