@media(max-width:425px){
    body {
        font-size: 14px;
        padding: 10px;
        header{
            padding: 10px;
            height: auto;
            nav{
                div{
                    a{
                        img {
                            width: 200px;
                        }
                    }
                }

            }
        }
        main{
            width: auto;
            section{
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;
                section{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .niños{
            .product-grid{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;
                div{
                    img{
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        footer{
            .seccion-footer1, .seccion-footer2, .seccion-footer3{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}