@media(max-width:375px){
    body {
        header{
            nav{
                div{
                    a{
                        img {
                            width: 180px;
                        }
                    }
                }
            }
        }
        main{
            width: auto;
            section{
                section{
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        footer{
            .seccion-footer1{
                a{
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .seccion-footer3{
                img{
                    width: 30px;
                    height: 30px;
                }
                p{
                    font: 10px;
                }
            }
        }
    }
}