@media(max-width:768px){
    body {
        padding: 10px;
        header{
            padding: 10px;
            height: auto;
            nav{
                div{
                    a{
                        img {
                            width: 200px;
                        }
                    }
                }
                label{
                    display: block;
                    cursor: crosshair;
                }
                ul{
                    position: fixed;
                    top: 80px;
                    background-color: rgba(83, 82, 82, 0.699);
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    transition: clip-path .2s;
                    }
                input:checked + ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;
                    padding: 10px 0;
                    height: auto;
                    font-size: 16px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
        main{
            width: auto;
            section{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                section{
                    h2{
                        font-size: 18px;
                    }
                    div{
                        a{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .niños{
            h2{
                font-size: 20px;
            }
            div{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                div{
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    transition: transform 0.3s ease;
                    img{
                        width: 300px;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:center;
            .seccion-footer1, .seccion-footer3{
                width: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .seccion-footer2{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}