@media(max-width:1024px){
    body{
        header{
            nav{
                ul{
                    gap: 1em;
                }
            }
        } 
        main{
            width: 90%;
            section{
                section{
                    h2{
                        font-size: 20px;
                    }
                    div{
                        a{
                            img{
                                width: 90%;
                            }
                        }
                        button{
                            a{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .niños{
            width: 90%;
            .product-grid{
                div{
                    img{
                        width: 90%;
                    }
                    button{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        footer{
            @include flex(row, nowrap, space-evenly, center,none);
        }
    }
}
