@media(max-width:900px){
    body{
        header{
            nav{
                ul{
                    gap: 1em;
                }
            }
        } 
        main{
            width: 85%;
            section{
                section{
                    h2{
                        font-size: 20px;
                    }
                    div{
                        a{
                            img{
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        .hombre , .mujeres , .niños{
            width: 85%;
            .prodict-grid{
                div{
                    img{
                        width: 80%;
                    }
                }
            }
        }
        .nosotros{
            div{
                width: 100%;
                h1{
                    font-size: 40px;
                    padding: 20px;
                }
                div{
                    p{
                        text-align: justify;
                        font-size: 25px;
                    }
                }
            }
        }
    }

}
