footer{
    margin-top: 30px;
    height: auto;
    background-color: $background-footer;
    color: #fff;
    text-align: center;
    padding: 10px;
    @include flex(row, wrap, space-evenly, center,none) ;
    .seccion-footer1, .seccion-footer3{
        width: 15%;
        @include flex(row, none, space-between, end,none);
    }
    .seccion-footer3{
        justify-content: end;
    }
    .seccion-footer2{
        width: 70%;
        @include flex(column, wrap, none, center,none);
    }
}
