
    .hombre , .mujeres , .niños{
        width: 960px;
        margin:  0 auto;
        padding: 20px;

        // estilos para el banner de publicidad---------------------------------
        .publicidad {
            width: 100%;
            height: 100%;
            label {

            }
            .close-input{
                display: none;
            }

            .close-input:checked + .slider{
                display: none;
            }

            .slider {
            
                    width: 100%;
                    height: 70%;
                    background-color: #333333b7;
                    overflow: hidden;
                    position: fixed;
                    left: 0%;
                    ul {
                        padding: 0;
                        display: flex;
                        width: 300%;
                        height: 100%;
            
                        li {
                            width: 100%;
                            height: 100%;
                            list-style: none;
            
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                animation: slide-left 8s infinite alternate;
                                animation-timing-function: linear;
                            }
            
                            @keyframes slide-left {
                                0% {
                                    margin-left: 0%;
                                }
            
                                30% {
                                    margin-left: 0%;
                                }
            
                                35% {
                                    margin-left: -100%;
                                }
            
                                65% {
                                    margin-left: -100%;
                                }
            
                                70% {
                                    margin-left: -200%;
                                }
            
                                100% {
                                    margin-left: -200%;
                                }
                            }
                        }
                    }
                }
            }
            
        // estilos para el banner de publicidad-----------------------------
        h2{
            font-size: 30px;
            color: #333;
            margin-bottom: 10px;
        }
        .product-grid{
            @include grid(repeat(3, 1fr), none, none, none, none, 20px);
            div{
                height: 90%;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                text-align: center;
                transition: transform 0.3s ease;
                img{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;
                }
                h3 {
                    font-size: 18px;
                    color: #333;
                }
                
                p {
                    color: #777;
                }
                @import"../components/botones-secciones";
            }
            div:hover{
                transform: translateY(-5px);
            }
        }
    }
