main{
    max-width: 960px;
    margin:  0 auto;
    padding: 20px;
    section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        section{
            display: flex;
            flex-direction: column;
            h2{
                font-size: 24px;
                color: #333;
                margin-bottom: 10px;
            }
            div{
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                text-align: center;
                transition: transform 0.3s ease;
                a{
                    img{
                        width: 300px;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
                @import"../components/botones";
            }
            div:hover{
                transform: translateY(-5px);
            }
        }
    }
}